page-register {
	.dark{
	    color:#2E2E2E;
	    background-color:#2E2E2E;
	    color:white;
  	}
  	.fixedLabel {
        min-width: 35% !important;
        max-width: 35% !important;
    }
    .positionForm{
    	margin-left:-2%;
    	width:100%;
    }

}
