page-tabs {


.new-background {
  background-color: #2E2E2E;
}

$colors: (
  primary:    #0B3861,
  secondary:  #32db64,
  danger:     #FA5858,
  light:      #f4f4f4,
  dark:       #424242,
  blue:       #0B3861
);

}

.tabs-ios-dark .tab-button[aria-selected=true], .tabs-ios-dark .tab-button[aria-selected=true] .tab-button-icon{
    color: #FA5858;
    }