
page-chat {
	 $colors: (
  primary:    #387ef5,
  secondary:  #32db64,
  danger:     #f53d3d,
  light:      orange,
  dark:       #2E2E2E,
  orange:      #FF4000,
 
  );

  .dark{

    color:#2E2E2E;
    background-color:#2E2E2E;
    color:white;
  }
  .nameCoinsSet{
  	white-space: normal !important;
   	/*max-width: none !important;    */
   	color:#A4A4A4;
    font-size:13px;
    padding-right: 14px;
  }

  input {
    width: 97%;
    box-sizing: border-box;
    border: 0px solid white,;
    border-radius: 5px;
    font-size: 14px;
    background-color: #white; 
    padding: 8px 8px 8px 10px;
    color : #2E2E2E;
    margin:2%;
    margin-top:1%;
  }

  button{
	 background-color:white;
	 border-radius: 5px;
	 padding: 8.5px 11.5px 8.5px 11.5px;
	 font-size:14px;
	 margin-top:11px;
	 margin-right:5px;
  }

  ion-footer{
  	position: fixed;
    bottom: 48px;
  }

  .positionChat{
  	color:#2E2E2E;
    background-color:#2E2E2E;
    color:white;
  	margin:-13px;
  	padding-left: 13px;
  }

  .username{
  	color:white;
  	margin-left: 2%;
  }


}
