page-change-password {
	.dark{
	    color:#2E2E2E;
	    background-color:#2E2E2E;
    	color:white;
  	}

	.complete{
		backgroud-color: #f53d3d;
	}

	.Green{
	   color:#A9F5A9;
	   font-size:16px;
	}
}
