page-account {
	.dark{
	    color:#2E2E2E;
	    background-color:#e0e0e0;
  	}

  	img {
	  height: 70px;
	  width: 70px;
	  border-radius:8%;
	  display: inline-block;
	  margin: 4px 16px 4px 0;
	  float: left;
	}
	.fixedLabel {
        min-width: 50% !important;
        max-width: 50% !important;
        font-size:16px;
    }
    .labelDetail{
    	font-size:12px;
    	color:#696969;
    	padding-left:10px;
    	margin-left:-5%;
    	text-align:right
    }
    .positionAccount{
    	padding-left:12%;
    	padding-top:1%;
		margin-right:-10%;
		margin-left:-10%;
		width: 115%;
    }
    .selectOption{
    	text-align:right;
    	float:right;
    	margin-right:-20%;
    	font-size:12px;
    	color:#696969;
    }
	.input-wrapper {
		display: -webkit-box;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		overflow: hidden;
		-webkit-box-flex: 1;
		-webkit-flex: 1;
		-ms-flex: 1;
		flex: 1;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-webkit-flex-direction: inherit;
		-ms-flex-direction: inherit;
		flex-direction: inherit;
		-webkit-box-align: inherit;
		-webkit-align-items: inherit;
		-ms-flex-align: inherit;
		align-items: inherit;
		-webkit-align-self: stretch;
		-ms-flex-item-align: stretch;
		align-self: stretch;
		text-overflow: ellipsis;
		margin-top: -2%;
		margin-bottom: -1%;
	}

	.item-ios h2 {
		padding-top: 3.5%;
		overflow: inherit;
		font-size: 18px;
		line-height: normal;
		text-overflow: inherit;
		margin: 0 0 4px;
	}

	ion-icon{
		padding-top: 1%;
	}

	[icon-left] ion-icon, [icon-start] ion-icon {
		font-size: 1.4em;
		pointer-events: none;
		padding-right: 0.3em;
		margin-bottom: 2%;
		margin-top: 1%;
	}

	.select-text {
		padding-right: 0px;
		min-width: 70px;
		padding-top: 2px;
	}

	.iconButton{
		color:#696969;
		background-color: white;
		margin-top: -20px;
		margin-bottom: -10px;
	}
	
	.select-ios .select-icon .select-icon-inner {
		left: 5px;
		top: 50%;
		margin-top: -2px;
		position: absolute;
		width: 0;
		height: 0;
		border-top: 5px solid;
		border-right: 5px solid transparent;
		border-left: 5px solid transparent;
		color: white;
		pointer-events: none;
	}
	.labelSet{
		font-size:12px;
    	color:#f53d3d;
    	padding-left:10px;
    	margin-left:-5%;
    	text-align:right
	}
}
